* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    color: #333;
}

.container {
    margin: 0 15px;
}

.form-box {
    width: 100%;
    padding: 50px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: none; 
}

/* Jab HTML me 'active' class hogi tabhi form dikhega */
.form-box.active {
    display: block; 
}

h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.input-box {
    position: relative;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

button {
    width: 100%;
    padding: 12px;
    background: #7494ec;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 11px;
    transition: 0.5s;
}



button:hover {
    background: #6884d3;
}


.input-box select {
    width: 100%;
    padding: 13px 20px; /* Text ke liye spacing */
    background: #eee;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    cursor: pointer;
    appearance: none; 
    -webkit-appearance: none;
}


.input-box select:hover {
    background: #e6e6e6;
}
